<p>When you log in through Steam this service allows you to find Games with specific categories (like Co-op or Local co-op) that you and selected friends own.</p>
  <%= link_to image_tag("http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_large_border.png"), '/auth/steam' %> 